<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HINO THỦ ĐỨC</title>
    <meta charset="UTF-8">
    <title>Xe Chuyên Dụng Hino - Hino Thủ Đức</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="object">
    <meta property="og:title" content="Xe Chuyên Dụng Hino - Hino Thủ Đức">
    <meta property="og:description" content="&nbsp;">
    <meta property="og:site_name" content="Hino Thủ Đức">
    <meta property="og:image:width" content="840">
    <meta property="og:image:height" content="560">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="&nbsp;">
    <meta name="twitter:title" content="Xe Chuyên Dụng Hino - Hino Thủ Đức">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//s.w.org">
    <link rel="shortcut icon" href="~/Images/logohino-1024x1024 (1).png" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel="stylesheet" id="wp-block-library-css" href="~/Content/css/style.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="wc-block-style-css" href="~/Content/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" id="contact-form-7-css" href="~/Content/css/styles.css" type="text/css" media="all">
    <style id="woocommerce-inline-inline-css" type="text/css">
        .woocommerce form .form-row .required {
            visibility: visible;
        }
    </style>
    <link rel="stylesheet" id="flatsome-main-css" href="~/Content/css/flatsome.css" type="text/css" media="all">
    <link rel="stylesheet" id="flatsome-shop-css" href="~/Content/css/flatsome-shop.css" type="text/css" media="all">
    <link rel="stylesheet" id="flatsome-googlefonts-css" href="https://fonts.googleapis.com/css?family=Roboto%3Aregular%2C500%2Cregular%2Cregular%7CDancing+Script%3Aregular%2C400&display=swap&ver=3.9" type="text/css" media="all">
    <style>
        .bg {
            opacity: 0;
            transition: opacity 1s;
            -webkit-transition: opacity 1s;
        }

        .bg-loaded {
            opacity: 1;
        }
    </style>
    <noscript>
        <style>
            .woocommerce-product-gallery {
                opacity: 1 !important;
            }
        </style>
    </noscript>
    <style type="text/css" id="wp-custom-css">
        .header-nav li a {
            padding: 0 10.5px;
            line-height: 45px;
        }
    </style>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body class="archive tax-product_cat term-xe-chuyen-dung-hino term-331 theme-flatsome woocommerce woocommerce-page woocommerce-js full-width header-shadow lightbox nav-dropdown-has-arrow nav-dropdown-has-shadow nav-dropdown-has-border" data-new-gr-c-s-check-loaded="14.1080.0" style="overflow-x: visible;">
    <a class="skip-link screen-reader-text" href="#main">Skip to content</a>
    <div id="wrapper">
        <header id="header" class="header has-sticky sticky-jump">
            <div class="header-wrapper">
                <div id="top-bar" class="header-top hide-for-sticky nav-dark">
                    <div class="flex-row container">
                        <div class="flex-col hide-for-medium flex-left">
                            <ul class="nav nav-left medium-nav-center nav-small  nav-divided">
                                <li class="header-contact-wrapper">
                                    <ul id="header-contact" class="nav nav-divided nav-uppercase header-contact">
                                        <li class="">
                                            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/maps/place/C%C3%B4ng+Ty+TNHH+%C3%94+T%C3%B4+H%C6%B0ng+Nam/10.864385,106.7208756,17z/data=!3m1!4b1!4m5!3m4!1s0x317529d62413d24f:0xe6d4bdfa6aafaf1f!8m2!3d10.8643797!4d106.7230643" class="tooltip tooltipstered">

                                                <img src="~/Images/icons8-location-18.png" />
                                                <span>
                                                    80 Quốc Lộ 1A, Phường Hiệp Bình Phước , TP Thủ Đức
                                                </span>
                                            </a>
                                        </li>

                                        <li class="">
                                            <a href="mailto:trungcuong92hino@gmail.com" class="tooltip tooltipstered">

                                                <img src="~/Images/icons8-gmail-logo-18.png" />
                                                <span>
                                                    trungcuong92hino@gmail.com
                                                </span>
                                            </a>
                                        </li>

                                        <li class="">
                                            <a class="tooltip tooltipstered">

                                                <img src="~/Images/icons8-clock-18.png" />
                                                <span>8h00 - 17h00</span>
                                            </a>
                                        </li>

                                        <li class="">
                                            <a href="tel:0932678503" class="tooltip tooltipstered">

                                                <img src="~/Images/icons8-phone-18.png" />
                                                <span>Mr.Cường: 0932.678.503</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <div class="flex-col hide-for-medium flex-center">
                            <ul class="nav nav-center nav-small  nav-divided">
                            </ul>
                        </div>

                        <div class="flex-col show-for-medium flex-grow">
                            <ul class="nav nav-center nav-small mobile-nav  nav-divided">
                                <li class="html custom html_topbar_left"><div id="top">Công ty Hino Thủ Đức Kính Chào Quý Khách</div></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div id="masthead" class="header-main hide-for-sticky">
                    <div class="header-inner flex-row container logo-left medium-logo-center" role="navigation">

                        <!-- Logo -->
                        <div id="logo" class="flex-col logo">
                            <!-- Header logo -->
                            <a href="/" title="Hino Trường Vinh" rel="home">
                                <img src="~/Images/logohino-1024x1024 (1).png" class="header_logo header-logo" alt="Hino Thủ Đức"><img src="~/Images/logohino-1024x1024 (1).png" class="header-logo-dark" alt="Hino Thủ Đức">
                            </a>
                        </div>
                        <!-- Mobile Left Elements -->
                        <div class="flex-col show-for-medium flex-left">
                            <ul class="mobile-nav nav nav-left ">
                                <li class="nav-icon has-icon">
                                    <a href="" data-open="#main-menu" data-pos="left" data-bg="main-menu-overlay" data-color="" class="is-small" aria-label="Menu" aria-controls="main-menu" aria-expanded="false">
                                        <img src="~/Images/icons8-menu-25.png" />
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- Left Elements -->
                        <div class="flex-col hide-for-medium flex-left flex-grow">
                            <ul class="header-nav header-nav-main nav nav-left  nav-spacing-xlarge nav-uppercase">
                                <li class="header-block">
                                    <div class="header-block-block-1">
                                        <div id="gap-23358950" class="gap-element clearfix" style="display:block; height:auto;">
                                            <style>
                                                #gap-23358950 {
                                                    padding-top: 16px;
                                                }
                                            </style>
                                        </div>
                                        <div class="row row-small search-block" id="row-1846525510">
                                            <div id="col-1745591660" class="col medium-7 small-12 large-7">
                                                <div class="col-inner">
                                                    <div id="gap-1601274074" class="gap-element clearfix" style="display:block; height:auto;">
                                                        <style>
                                                            #gap-1601274074 {
                                                                padding-top: 6px;
                                                            }
                                                        </style>
                                                    </div>
                                                    <div class="searchform-wrapper ux-search-box relative is-large">
                                                        <form role="search" method="get" class="searchform" action="">
                                                            <div class="flex-row relative">
                                                                <div class="flex-col flex-grow">
                                                                    <label class="screen-reader-text" for="woocommerce-product-search-field-0">Tìm kiếm:</label>
                                                                    <input type="search" id="woocommerce-product-search-field-0" class="search-field mb-0" placeholder="Nhập xe bạn cần tìm..." value="" name="ss">
                                                                    <input type="hidden" name="post_type" value="product">
                                                                </div>
                                                                <div class="flex-col">
                                                                    <button onclick="Seachs()" type="submit" value="Tìm kiếm" class="ux-search-submit submit-button secondary button icon mb-0" aria-label="Submit">
                                                                        <img src="~/Images/icons8-search-24.png" />
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="live-search-results text-left z-top"></div>
                                                        </form>
                                                    </div>

                                                </div>
                                            </div>
                                            <div id="col-156969676" class="col cot2 medium-5 small-12 large-5">
                                                <div class="col-inner">
                                                    <div class="icon-box featured-box icon-box-left text-left">
                                                        <div class="icon-box-img" style="width: 44px">
                                                            <div class="icon">
                                                                <div class="icon-inner">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="icon-box-text last-reset">
                                                            <span style="font-size: 100%; color: #333333;">Hotline tư vấn</span>
                                                            <a href="tel:0932678503"><span style="color: #b00000;"><strong><span style="font-size: 120%;">0932.678.503</span></strong></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- Right Elements -->
                        <div class="flex-col hide-for-medium flex-right">
                            <ul class="header-nav header-nav-main nav nav-right  nav-spacing-xlarge nav-uppercase">
                            </ul>
                        </div>
                        <!-- Mobile Right Elements -->
                        <div class="flex-col show-for-medium flex-right">
                            <ul class="mobile-nav nav nav-right ">
                                <li class="cart-item has-icon">
                                    <div class="header-button">
                                        <a href="" class="header-cart-link off-canvas-toggle nav-top-link icon primary button round is-small" data-open="#cart-popup" data-class="off-canvas-cart" title="Giỏ hàng" data-pos="right">
                                            <img src="~/Images/icons8-shopping-cart-15.png" />
                                        </a>
                                    </div>
                                    <!-- Cart Sidebar Popup -->
                                    <div id="cart-popup" class="mfp-hide widget_shopping_cart">
                                        <div class="cart-popup-inner inner-padding">
                                            <div class="cart-popup-title text-center">
                                                <h4 class="uppercase">Giỏ hàng</h4>
                                                <div class="is-divider"></div>
                                            </div>
                                            <div class="widget_shopping_cart_content">
                                                <p class="woocommerce-mini-cart__empty-message">Chưa có sản phẩm trong giỏ hàng.</p>
                                            </div>
                                            <div class="cart-sidebar-content relative"></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="wide-nav" class="header-bottom wide-nav nav-dark hide-for-medium">
                    <div class="flex-row container">
                        <div class="flex-col hide-for-medium flex-left">
                            <ul class="nav header-nav header-bottom-nav nav-left  nav-size-large nav-spacing-medium">
                                <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-85 menu-item-design-default">

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="header-bg-container fill"><div class="header-bg-image fill"></div><div class="header-bg-color fill"></div></div>
            </div>
        </header>
        <div class="mfp-wrap mfp-auto-cursor off-canvas off-canvas-left mfp-ready" tabindex="-1" style="overflow: hidden auto;">
            <div class="mfp-container mfp-s-ready mfp-inline-holder">
                <div class="mfp-content">
                    <div id="main-menu" class="mobile-sidebar no-scrollbar" wfd-invisible="true">
                        <div class="sidebar-menu no-scrollbar ">
                            <ul class="nav nav-sidebar nav-vertical nav-uppercase">
                                <li class="header-search-form search-form html relative has-icon">
                                    <div class="header-search-form-wrapper">
                                        <div class="searchform-wrapper ux-search-box relative is-normal">
                                            <form role="search" method="get" class="searchform" action="">
                                                <div class="flex-row relative">
                                                    <div class="flex-col flex-grow">
                                                        <label class="screen-reader-text" for="woocommerce-product-search-field-1">Tìm kiếm:</label>
                                                        <input type="search" id="woocommerce-product-search-field-1" class="search-field mb-0" placeholder="Nhập xe bạn cần tìm..." value="" name="ss">
                                                        <input type="hidden" name="post_type" value="product" wfd-invisible="true">
                                                    </div>
                                                    <div class="flex-col">
                                                        <button onclick="Seachs()" type="submit" value="Tìm kiếm" class="ux-search-submit submit-button secondary button icon mb-0" aria-label="Submit">

                                                            <img src="~/Images/icons8-search-24.png" />
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="live-search-results text-left z-top"></div>
                                            </form>
                                        </div>
                                    </div>
                                </li>


                            </ul>
                            <ul class="nav nav-sidebar nav-vertical nav-uppercase" id="menu-mobile">
                            </ul>
                        </div>
                    </div>
                </div><div class="mfp-preloader">Loading...</div>
            </div>
            <button type="button" class="mfp-close">
                <img src="~/Images/icons8-close-30.png" />
            </button>
        </div>
        <div class="mfp-wrap1 mfp-auto-cursor off-canvas undefined off-canvas-right mfp-ready" tabindex="-1" style="top: 0px; position: absolute; height: 667px;">
            <div class="mfp-container mfp-s-ready mfp-inline-holder">
                <div class="mfp-content off-canvas-cart">
                    <div id="cart-popup" class="widget_shopping_cart">
                        <div class="cart-popup-inner inner-padding">
                            <div class="cart-popup-title text-center">
                                <h4 class="uppercase">Giỏ hàng</h4>
                                <div class="is-divider"></div>
                            </div>
                            <div class="widget_shopping_cart_content">

                                <p class="woocommerce-mini-cart__empty-message">Chưa có sản phẩm trong giỏ hàng.</p>


                            </div>
                            <div class="cart-sidebar-content relative"></div>
                        </div>
                    </div>
                </div><div class="mfp-preloader">Loading...</div>
            </div>
            <button type="button" class="mfp-close mfp-close1">
                <img src="~/Images/icons8-close-30.png" />
            </button>

        </div>
        @RenderBody()
        <footer id="footer" class="footer-wrapper">
            <section class="section footer-section" id="section_199022688">
                <div class="bg section-bg fill bg-fill  bg-loaded">
                </div>
                <div class="section-content relative">
                    <div class="row" id="row-170648654">
                        <div id="col-59242005" class="col medium-6 small-12 large-6">
                            <div class="col-inner dark">
                                <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_202741588">
                                    <div class="img-inner dark">
                                        <img width="473" height="405" src="~/Images/logohino-1024x1024 (1).png" class="attachment-original size-original" alt="" srcset="~/Images/logohino-1024x1024 (1).png 473w,~/Images/logohino-1024x1024 (1).png 300w" sizes="(max-width: 473px) 100vw, 473px">
                                    </div>
                                    <style>
                                        #image_202741588 {
                                            width: 29%;
                                        }
                                    </style>
                                </div>
                                <h3 class="name"><span style="font-size: 85%; color: #ed1c24;">CHI NHÁNH THỦ ĐỨC</span></h3>
                                <ul class="listInfo">
                                    <li><span style="color: #ffffff;">
    <strong>Địa chỉ :&nbsp;</strong>Công Ty TNHH Ô tô Hưng Nam
    80 Quốc Lộ 1A, Phường Hiệp Bình Phước , TP Thủ Đức
</span></li>
                                    <li><span style="color: #ffffff;"><strong>Điện thoại :&nbsp;</strong><strong><a style="color: #ffffff;" href="tel:0932678503"> 0932.678.503</a></strong></span></li>
                                </ul>
                            </div>
                        </div>
                        <div id="col-245077503" class="col medium-6 small-12 large-6">
                            <div class="col-inner">
                                <h3 class="name"><span style="font-size: 85%; color: #ed1c24;">VĂN PHÒNG ĐẠI DIỆN TRƯỜNG VINH HINO</span></h3>
                                <ul class="listInfo">
                                    <li><span style="color: #ffffff;"><strong>Địa chỉ :&nbsp;</strong>Số 666/70 Đường 3/2, phường 14, quận 10, Hồ Chí Minh</span></li>
                                </ul>
                                <p>&nbsp;</p>
                                <div class="row" id="row-1055093137">
                                    <div id="col-1620832698" class="col medium-6 small-12 large-6">
                                        <div class="col-inner dark">
                                            <h3><span style="font-size: 100%; color: #d83131;">Đăng ký nhận tin</span></h3>
                                            <p><span style="font-size: 90%; color: #c0c0c0;">Vui lòng nhập địa chỉ email để nhận bản tin khuyến mại hàng tuần của chúng tôi:</span></p>
                                            <div role="form" class="wpcf7" id="wpcf7-f573-o1" lang="vi" dir="ltr">
                                                <div class="screen-reader-response"></div>
                                                <form action="/xe-chuyen-dung-hino/#wpcf7-f573-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                                    <div style="display: none;">
                                                        <input type="hidden" name="_wpcf7" value="573">
                                                        <input type="hidden" name="_wpcf7_version" value="5.1.6">
                                                        <input type="hidden" name="_wpcf7_locale" value="vi">
                                                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f573-o1">
                                                        <input type="hidden" name="_wpcf7_container_post" value="0">
                                                    </div>
                                                    <p>
                                                        <span class="wpcf7-form-control-wrap email-895"><input type="email" name="email-895" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Nhập email tại đây..."></span><br>
                                                        <input type="submit" value="Đăng ký nhận tin" class="wpcf7-form-control wpcf7-submit"><span class="ajax-loader"></span>
                                                    </p>
                                                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="col-1558093950" class="col medium-6 small-12 large-6">
                                        <div class="col-inner dark">
                                            <h3><span style="color: #d83131; font-size: 100%;">Sản phẩm chính</span></h3>
                                            <ul id="menuft">
                                             
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <style>
                    #section_199022688 {
                        padding-top: 30px;
                        padding-bottom: 30px;
                        background-color: rgb(4, 25, 43);
                    }
                </style>
            </section>


        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/Scripts.js"></script>

    <script type='text/javascript' src='https://thegioixehino.com/wp-content/themes/flatsome/assets/js/flatsome.js?ver=3.13.1'></script>


    <script src="~/Scripts/Layout.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
