@{
    ViewBag.Title = "Trang Chủ";
}
<main id="main" class="">
    <div id="content" class="content-area page-wrapper" role="main">
        <div class="row row-main">
            <div class="large-12 col">
                <div class="col-inner">
                    <div class="row tim-kiem-mobile" id="row-1208133182">
                        <div id="col-424606031" class="col small-12 large-12">
                            <div class="col-inner">
                                <div class="searchform-wrapper ux-search-box relative is-normal">
                                    <form role="search" method="get" class="searchform" action="">
                                        <div class="flex-row relative">
                                            <div class="flex-col search-form-categories">
                                                <select class="search_categories resize-select mb-0" name="product_cat">
                                                </select>
                                            </div>
                                            <div class="flex-col flex-grow">
                                                <label class="screen-reader-text" for="woocommerce-product-search-field-1">Tìm kiếm:</label>
                                                <input type="search" id="woocommerce-product-search-field-1" class="search-field mb-0" placeholder="Nhập xe bạn cần tìm..." value="" name="s" />
                                                <input type="hidden" name="post_type" value="product" />
                                            </div>
                                            <div class="flex-col">
                                                <button type="submit" value="Tìm kiếm" class="ux-search-submit submit-button secondary button icon mb-0" aria-label="Submit">

                                                    <img src="~/Images/icons8-search-24.png" />
                                                </button>
                                            </div>
                                        </div>
                                        <div class="live-search-results text-left z-top"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <style>
                            #row-1208133182 > .col > .col-inner {
                                background-color: rgb(3, 128, 24);
                            }
                        </style>
                    </div>
                    <section class="section slider-section" id="section_341566579">
                        <div class="bg section-bg fill bg-fill  bg-loaded">
                        </div>
                        <div class="section-content relative">
                           <div class="row row-small" id="row-1198413098">
                                <div id="col-258888232" class="col cot2 small-12 large-12">
                                    <div class="col-inner">
                                        <div class="wbcslider_tgdd slider-wrapper relative " id="wbcslider-1716966636" style="background-color:#fff;">
                                            <div class="wbcslider-main slider slider-nav-dots-simple slider-nav-simple slider-nav-normal slider-nav-light slider-style-normal"
                                                 data-flickity-options='{ "cellAlign": "center","imagesLoaded": true,"lazyLoad": 1,"freeScroll": false,"wrapAround": true,"autoPlay": 3000,pauseAutoPlayOnHover" : true,"contain" : true,"adaptiveHeight" : true, "dragThreshold" : 5,
                                                 "percentPosition": true,"pageDots": false,"rightToLeft": false,"draggable": true,"selectedAttraction": 0.1,"parallax" : 0,"friction": 0.6 }'>
                                                <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_161613170">
                                                    <div class="img-inner image-cover dark" style="padding-top:50%;">
                                                        <img width="1020" height="446" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%201020%20446%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2021/08/Cover-web-1920-x-840-1024x448.png" class="lazy-load attachment-large size-large" alt="" srcset="" data-srcset="https://thegioixehino.com/wp-content/uploads/2021/08/Cover-web-1920-x-840-1024x448.png 1024w, https://thegioixehino.com/wp-content/uploads/2021/08/Cover-web-1920-x-840-300x131.png 300w, https://thegioixehino.com/wp-content/uploads/2021/08/Cover-web-1920-x-840-768x336.png 768w, https://thegioixehino.com/wp-content/uploads/2021/08/Cover-web-1920-x-840-1536x672.png 1536w, https://thegioixehino.com/wp-content/uploads/2021/08/Cover-web-1920-x-840-700x306.png 700w, https://thegioixehino.com/wp-content/uploads/2021/08/Cover-web-1920-x-840.png 1920w" sizes="(max-width: 1020px) 100vw, 1020px" />
                                                    </div>
                                                    <div class="hidden TextCaption">Dịch Vụ HFS</div>
                                                    <style>
                                                        #image_161613170 {
                                                            width: 100%;
                                                        }
                                                    </style>
                                                </div>
                                           </div>
                                            <div class="carousel carousel-nav TextCaptions" data-flickity='{ "asNavFor": ".wbcslider-main ", "contain": true, "pageDots": false }'></div>
                                        </div>
                                        <style media="screen">
                                            .TextCaptions .flickity-slider {
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                            }

                                            .TextCaptions {
                                                padding: 20px;
                                            }

                                                .TextCaptions .item {
                                                    margin: 0 !important;
                                                    padding: 0 !important;
                                                    height: 45px;
                                                    justify-content: center;
                                                    align-items: center;
                                                    display: flex;
                                                    text-align: center;
                                                    border-right: 1px solid #333;
                                                    color: #333;
                                                }
                                        </style>
                                        <!-- .ux-slider-wrapper -->
                                    </div>
                                </div>
                                <div id="col-359135341" class="col medium-4 small-12 large-4">
                                    <div class="col-inner">
                                    </div>
                                </div>
                                <div id="col-1579332218" class="col medium-4 small-12 large-4">
                                    <div class="col-inner">
                                    </div>
                                </div>
                                <div id="col-1021262442" class="col medium-4 small-12 large-4">
                                    <div class="col-inner">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <style>
                            #section_341566579 {
                                padding-top: 10px;
                                padding-bottom: 10px;
                                background-color: rgb(235, 235, 235);
                            }
                        </style>
                    </section>
                    <div class="row row-small danh-muc-san-pham-mobile" id="row-625718272">
                        <div id="col-1510402703" class="col show-for-small medium-6 small-12 large-6">
                            <div class="col-inner">
                                <p><a href="http://thegioixehino.com/">Trang chủ</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="container section-title-container"><h2 class="section-title section-title-normal"><b></b><span class="section-title-main" style="color:rgb(0, 115, 14);"><i class="icon-user"></i>Xe Tải Hino</span><b></b><a href="http://thegioixehino.com/xe-tai-hino/" target="">Xem tất cả<i class="icon-angle-right"></i></a></h2></div>
                    <section class="section danh-muc-section" id="section_1385045112">
                        <div class="bg section-bg fill bg-fill  bg-loaded">
                        </div>
                        <div class="section-content relative">
                           <div id="gap-637982035" class="gap-element clearfix" style="display:block; height:auto;">
                                <style>
                                    #gap-637982035 {
                                        padding-top: 15px;
                                    }
                                </style>
                            </div>

                            <div class="row row-small row-ngang" id="row-429558829">

                                <div id="col-2023139984" class="col cot12 small-12 large-12">
                                    <div class="col-inner">




                                        <div class="row large-columns-4 medium-columns-3 small-columns-2 row-small">



                                            <div class="col">
                                                <div class="col-inner">

                                                    <div class="badge-container absolute left top z-1">
                                                    </div>
                                                    <div class="product-small box has-hover box-normal box-text-bottom">
                                                        <div class="box-image">
                                                            <div class="image-cover" style="padding-top:100%;">
                                                                <a href="https://thegioixehino.com/san-pham/xe-tai-hino-64-tan-thung-bat-inox-bung-nhom/">
                                                                    <img width="700" height="700" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20700%20700%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2022/09/z3708257208385_290392809645b6cba8e179bffd7d84a5-700x700.jpg" class="lazy-load show-on-hover absolute fill hide-for-small back-image" alt="" srcset="" data-srcset="https://thegioixehino.com/wp-content/uploads/2022/09/z3708257208385_290392809645b6cba8e179bffd7d84a5-700x700.jpg 700w, https://thegioixehino.com/wp-content/uploads/2022/09/z3708257208385_290392809645b6cba8e179bffd7d84a5-150x150.jpg 150w, https://thegioixehino.com/wp-content/uploads/2022/09/z3708257208385_290392809645b6cba8e179bffd7d84a5-100x100.jpg 100w" sizes="(max-width: 700px) 100vw, 700px" /><img width="2560" height="1920" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%202560%201920%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2022/09/z3708257215781_f606a4d5e8a4b7e1c09ffc1ca8d4f620-scaled.jpg" class="lazy-load attachment-original size-original" alt="" srcset="" data-srcset="https://thegioixehino.com/wp-content/uploads/2022/09/z3708257215781_f606a4d5e8a4b7e1c09ffc1ca8d4f620-scaled.jpg 2560w, https://thegioixehino.com/wp-content/uploads/2022/09/z3708257215781_f606a4d5e8a4b7e1c09ffc1ca8d4f620-300x225.jpg 300w, https://thegioixehino.com/wp-content/uploads/2022/09/z3708257215781_f606a4d5e8a4b7e1c09ffc1ca8d4f620-1024x768.jpg 1024w, https://thegioixehino.com/wp-content/uploads/2022/09/z3708257215781_f606a4d5e8a4b7e1c09ffc1ca8d4f620-768x576.jpg 768w, https://thegioixehino.com/wp-content/uploads/2022/09/z3708257215781_f606a4d5e8a4b7e1c09ffc1ca8d4f620-1536x1152.jpg 1536w, https://thegioixehino.com/wp-content/uploads/2022/09/z3708257215781_f606a4d5e8a4b7e1c09ffc1ca8d4f620-2048x1536.jpg 2048w, https://thegioixehino.com/wp-content/uploads/2022/09/z3708257215781_f606a4d5e8a4b7e1c09ffc1ca8d4f620-700x525.jpg 700w" sizes="(max-width: 2560px) 100vw, 2560px" />
                                                                </a>
                                                            </div>
                                                            <div class="image-tools top right show-on-hover">
                                                            </div>
                                                            <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                            </div>
                                                        </div>

                                                        <div class="box-text text-center is-large">
                                                            <div class="title-wrapper"><p class="name product-title woocommerce-loop-product__title"><a href="https://thegioixehino.com/san-pham/xe-tai-hino-64-tan-thung-bat-inox-bung-nhom/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">XE TẢI HINO 6,4 TẤN THÙNG BẠT INOX BỬNG NHÔM</a></p></div><div class="price-wrapper">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col">
                                                <div class="col-inner">

                                                    <div class="badge-container absolute left top z-1">
                                                    </div>
                                                    <div class="product-small box has-hover box-normal box-text-bottom">
                                                        <div class="box-image">
                                                            <div class="image-cover" style="padding-top:100%;">
                                                                <a href="https://thegioixehino.com/san-pham/xe-tai-hino-dong-lanh-62-tan/">
                                                                    <img width="700" height="700" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20700%20700%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2022/09/z3708257163909_168b5fbba624deda8f62ba04f00ed719-1-700x700.jpg" class="lazy-load show-on-hover absolute fill hide-for-small back-image" alt="" srcset="" data-srcset="https://thegioixehino.com/wp-content/uploads/2022/09/z3708257163909_168b5fbba624deda8f62ba04f00ed719-1-700x700.jpg 700w, https://thegioixehino.com/wp-content/uploads/2022/09/z3708257163909_168b5fbba624deda8f62ba04f00ed719-1-150x150.jpg 150w, https://thegioixehino.com/wp-content/uploads/2022/09/z3708257163909_168b5fbba624deda8f62ba04f00ed719-1-100x100.jpg 100w" sizes="(max-width: 700px) 100vw, 700px" /><img width="2560" height="1920" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%202560%201920%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2022/09/z3708257185737_b592adfb8e3f617b02f4bf02ced5207d-scaled.jpg" class="lazy-load attachment-original size-original" alt="" srcset="" data-srcset="https://thegioixehino.com/wp-content/uploads/2022/09/z3708257185737_b592adfb8e3f617b02f4bf02ced5207d-scaled.jpg 2560w, https://thegioixehino.com/wp-content/uploads/2022/09/z3708257185737_b592adfb8e3f617b02f4bf02ced5207d-300x225.jpg 300w, https://thegioixehino.com/wp-content/uploads/2022/09/z3708257185737_b592adfb8e3f617b02f4bf02ced5207d-1024x768.jpg 1024w, https://thegioixehino.com/wp-content/uploads/2022/09/z3708257185737_b592adfb8e3f617b02f4bf02ced5207d-768x576.jpg 768w, https://thegioixehino.com/wp-content/uploads/2022/09/z3708257185737_b592adfb8e3f617b02f4bf02ced5207d-1536x1152.jpg 1536w, https://thegioixehino.com/wp-content/uploads/2022/09/z3708257185737_b592adfb8e3f617b02f4bf02ced5207d-2048x1536.jpg 2048w, https://thegioixehino.com/wp-content/uploads/2022/09/z3708257185737_b592adfb8e3f617b02f4bf02ced5207d-700x525.jpg 700w" sizes="(max-width: 2560px) 100vw, 2560px" />
                                                                </a>
                                                            </div>
                                                            <div class="image-tools top right show-on-hover">
                                                            </div>
                                                            <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                            </div>
                                                        </div>

                                                        <div class="box-text text-center is-large">
                                                            <div class="title-wrapper"><p class="name product-title woocommerce-loop-product__title"><a href="https://thegioixehino.com/san-pham/xe-tai-hino-dong-lanh-62-tan/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">XE TẢI HINO ĐÔNG LẠNH 6,2 TẤN</a></p></div><div class="price-wrapper">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col">
                                                <div class="col-inner">

                                                    <div class="badge-container absolute left top z-1">
                                                    </div>
                                                    <div class="product-small box has-hover box-normal box-text-bottom">
                                                        <div class="box-image">
                                                            <div class="image-cover" style="padding-top:100%;">
                                                                <a href="https://thegioixehino.com/san-pham/xe-tai-hino-thung-kin-inox-15-tan/">
                                                                    <img width="700" height="700" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20700%20700%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2022/09/z3708257192745_23673d5c4ac930dd13295d7b0947d3cf-700x700.jpg" class="lazy-load show-on-hover absolute fill hide-for-small back-image" alt="" srcset="" data-srcset="https://thegioixehino.com/wp-content/uploads/2022/09/z3708257192745_23673d5c4ac930dd13295d7b0947d3cf-700x700.jpg 700w, https://thegioixehino.com/wp-content/uploads/2022/09/z3708257192745_23673d5c4ac930dd13295d7b0947d3cf-150x150.jpg 150w, https://thegioixehino.com/wp-content/uploads/2022/09/z3708257192745_23673d5c4ac930dd13295d7b0947d3cf-100x100.jpg 100w" sizes="(max-width: 700px) 100vw, 700px" /><img width="2560" height="1920" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%202560%201920%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2022/09/z3708257102227_fbcf6b40ba1cb4c97f85721f2904ff4c-scaled.jpg" class="lazy-load attachment-original size-original" alt="" srcset="" data-srcset="https://thegioixehino.com/wp-content/uploads/2022/09/z3708257102227_fbcf6b40ba1cb4c97f85721f2904ff4c-scaled.jpg 2560w, https://thegioixehino.com/wp-content/uploads/2022/09/z3708257102227_fbcf6b40ba1cb4c97f85721f2904ff4c-300x225.jpg 300w, https://thegioixehino.com/wp-content/uploads/2022/09/z3708257102227_fbcf6b40ba1cb4c97f85721f2904ff4c-1024x768.jpg 1024w, https://thegioixehino.com/wp-content/uploads/2022/09/z3708257102227_fbcf6b40ba1cb4c97f85721f2904ff4c-768x576.jpg 768w, https://thegioixehino.com/wp-content/uploads/2022/09/z3708257102227_fbcf6b40ba1cb4c97f85721f2904ff4c-1536x1152.jpg 1536w, https://thegioixehino.com/wp-content/uploads/2022/09/z3708257102227_fbcf6b40ba1cb4c97f85721f2904ff4c-2048x1536.jpg 2048w, https://thegioixehino.com/wp-content/uploads/2022/09/z3708257102227_fbcf6b40ba1cb4c97f85721f2904ff4c-700x525.jpg 700w" sizes="(max-width: 2560px) 100vw, 2560px" />
                                                                </a>
                                                            </div>
                                                            <div class="image-tools top right show-on-hover">
                                                            </div>
                                                            <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                            </div>
                                                        </div>

                                                        <div class="box-text text-center is-large">
                                                            <div class="title-wrapper"><p class="name product-title woocommerce-loop-product__title"><a href="https://thegioixehino.com/san-pham/xe-tai-hino-thung-kin-inox-15-tan/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">XE TẢI HINO THÙNG KÍN INOX 15 TẤN</a></p></div><div class="price-wrapper">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col">
                                                <div class="col-inner">

                                                    <div class="badge-container absolute left top z-1">
                                                    </div>
                                                    <div class="product-small box has-hover box-normal box-text-bottom">
                                                        <div class="box-image">
                                                            <div class="image-cover" style="padding-top:100%;">
                                                                <a href="https://thegioixehino.com/san-pham/xe-tai-hino-19-tan-thung-kin-inox/">
                                                                    <img width="700" height="700" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20700%20700%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2022/09/z3708257172788_395ca714b10f0f6c46886dd7313078d0-700x700.jpg" class="lazy-load show-on-hover absolute fill hide-for-small back-image" alt="" srcset="" data-srcset="https://thegioixehino.com/wp-content/uploads/2022/09/z3708257172788_395ca714b10f0f6c46886dd7313078d0-700x700.jpg 700w, https://thegioixehino.com/wp-content/uploads/2022/09/z3708257172788_395ca714b10f0f6c46886dd7313078d0-150x150.jpg 150w, https://thegioixehino.com/wp-content/uploads/2022/09/z3708257172788_395ca714b10f0f6c46886dd7313078d0-100x100.jpg 100w" sizes="(max-width: 700px) 100vw, 700px" /><img width="2048" height="924" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%202048%20924%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2022/09/z3708257163398_a5b2a4626760e910843c077d5de1acbf.jpg" class="lazy-load attachment-original size-original" alt="" srcset="" data-srcset="https://thegioixehino.com/wp-content/uploads/2022/09/z3708257163398_a5b2a4626760e910843c077d5de1acbf.jpg 2048w, https://thegioixehino.com/wp-content/uploads/2022/09/z3708257163398_a5b2a4626760e910843c077d5de1acbf-300x135.jpg 300w, https://thegioixehino.com/wp-content/uploads/2022/09/z3708257163398_a5b2a4626760e910843c077d5de1acbf-1024x462.jpg 1024w, https://thegioixehino.com/wp-content/uploads/2022/09/z3708257163398_a5b2a4626760e910843c077d5de1acbf-768x347.jpg 768w, https://thegioixehino.com/wp-content/uploads/2022/09/z3708257163398_a5b2a4626760e910843c077d5de1acbf-1536x693.jpg 1536w, https://thegioixehino.com/wp-content/uploads/2022/09/z3708257163398_a5b2a4626760e910843c077d5de1acbf-700x316.jpg 700w" sizes="(max-width: 2048px) 100vw, 2048px" />
                                                                </a>
                                                            </div>
                                                            <div class="image-tools top right show-on-hover">
                                                            </div>
                                                            <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                            </div>
                                                        </div>

                                                        <div class="box-text text-center is-large">
                                                            <div class="title-wrapper"><p class="name product-title woocommerce-loop-product__title"><a href="https://thegioixehino.com/san-pham/xe-tai-hino-19-tan-thung-kin-inox/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">XE TẢI HINO 1,9 TẤN THÙNG KÍN INOX</a></p></div><div class="price-wrapper">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>


                        <style>
                            #section_1385045112 {
                                padding-top: 20px;
                                padding-bottom: 20px;
                            }
                        </style>
                    </section>

                    <section class="section danh-muc-section" id="section_2010739724">
                        <div class="bg section-bg fill bg-fill  bg-loaded">





                        </div>

                        <div class="section-content relative">

                            <div class="container section-title-container"><h2 class="section-title section-title-normal"><b></b><span class="section-title-main" style="color:rgb(0, 115, 14);"><i class="icon-user"></i>Xe Chuyên Dụng Hino</span><b></b><a href="http://thegioixehino.com/xe-chuyen-dung-hino/" target="">Xem tất cả<i class="icon-angle-right"></i></a></h2></div>
                            <div id="gap-810735995" class="gap-element clearfix" style="display:block; height:auto;">

                                <style>
                                    #gap-810735995 {
                                        padding-top: 10px;
                                    }
                                </style>
                            </div>

                            <div class="row row-small row-ngang" id="row-126373491">

                                <div id="col-803236949" class="col cot12 small-12 large-12">
                                    <div class="col-inner">




                                        <div class="row large-columns-4 medium-columns-3 small-columns-2 row-small">



                                            <div class="col">
                                                <div class="col-inner">

                                                    <div class="badge-container absolute left top z-1">
                                                    </div>
                                                    <div class="product-small box has-hover box-normal box-text-bottom">
                                                        <div class="box-image">
                                                            <div class="image-cover" style="padding-top:100%;">
                                                                <a href="https://thegioixehino.com/san-pham/hino-500-fg8jt7a-utl-thung-pallet-dai-10m/">
                                                                    <img width="700" height="700" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20700%20700%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2022/04/z3339597331955_cd2746575eca1794ca31866059e7496c-700x700.jpg" class="lazy-load show-on-hover absolute fill hide-for-small back-image" alt="" srcset="" data-srcset="https://thegioixehino.com/wp-content/uploads/2022/04/z3339597331955_cd2746575eca1794ca31866059e7496c-700x700.jpg 700w, https://thegioixehino.com/wp-content/uploads/2022/04/z3339597331955_cd2746575eca1794ca31866059e7496c-150x150.jpg 150w, https://thegioixehino.com/wp-content/uploads/2022/04/z3339597331955_cd2746575eca1794ca31866059e7496c-100x100.jpg 100w" sizes="(max-width: 700px) 100vw, 700px" /><img width="700" height="700" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20700%20700%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2022/04/z3339597341609_9674aa7a71ee2504a06adde4e0fa0c27-700x700.jpg" class="lazy-load attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="" data-srcset="https://thegioixehino.com/wp-content/uploads/2022/04/z3339597341609_9674aa7a71ee2504a06adde4e0fa0c27-700x700.jpg 700w, https://thegioixehino.com/wp-content/uploads/2022/04/z3339597341609_9674aa7a71ee2504a06adde4e0fa0c27-150x150.jpg 150w, https://thegioixehino.com/wp-content/uploads/2022/04/z3339597341609_9674aa7a71ee2504a06adde4e0fa0c27-100x100.jpg 100w" sizes="(max-width: 700px) 100vw, 700px" />
                                                                </a>
                                                            </div>
                                                            <div class="image-tools top right show-on-hover">
                                                            </div>
                                                            <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                            </div>
                                                        </div>

                                                        <div class="box-text text-center">
                                                            <div class="title-wrapper"><p class="name product-title woocommerce-loop-product__title"><a href="https://thegioixehino.com/san-pham/hino-500-fg8jt7a-utl-thung-pallet-dai-10m/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">HINO 500 FG8JT7A-UTL THÙNG PALLET DÀI 10M</a></p></div><div class="price-wrapper">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col">
                                                <div class="col-inner">

                                                    <div class="badge-container absolute left top z-1">
                                                    </div>
                                                    <div class="product-small box has-hover box-normal box-text-bottom">
                                                        <div class="box-image">
                                                            <div class="image-cover" style="padding-top:100%;">
                                                                <a href="https://thegioixehino.com/san-pham/hino-300-xzu730l-thung-dong-lanh-dai-57m-tai-48-tan/">
                                                                    <img width="581" height="428" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20581%20428%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2022/03/z2769720274644_acdbba9e80e83b38161c1cee2876eadc-1.jpg" class="lazy-load show-on-hover absolute fill hide-for-small back-image" alt="" srcset="" data-srcset="https://thegioixehino.com/wp-content/uploads/2022/03/z2769720274644_acdbba9e80e83b38161c1cee2876eadc-1.jpg 581w, https://thegioixehino.com/wp-content/uploads/2022/03/z2769720274644_acdbba9e80e83b38161c1cee2876eadc-1-300x221.jpg 300w" sizes="(max-width: 581px) 100vw, 581px" /><img width="581" height="428" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20581%20428%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2022/03/z2769720274644_acdbba9e80e83b38161c1cee2876eadc.jpg" class="lazy-load attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="" data-srcset="https://thegioixehino.com/wp-content/uploads/2022/03/z2769720274644_acdbba9e80e83b38161c1cee2876eadc.jpg 581w, https://thegioixehino.com/wp-content/uploads/2022/03/z2769720274644_acdbba9e80e83b38161c1cee2876eadc-300x221.jpg 300w" sizes="(max-width: 581px) 100vw, 581px" />
                                                                </a>
                                                            </div>
                                                            <div class="image-tools top right show-on-hover">
                                                            </div>
                                                            <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                            </div>
                                                        </div>

                                                        <div class="box-text text-center">
                                                            <div class="title-wrapper"><p class="name product-title woocommerce-loop-product__title"><a href="https://thegioixehino.com/san-pham/hino-300-xzu730l-thung-dong-lanh-dai-57m-tai-48-tan/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">HINO 300 XZU730L THÙNG ĐÔNG LẠNH DÀI 5,7M TẢI 4,8 TẤN</a></p></div><div class="price-wrapper">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col">
                                                <div class="col-inner">

                                                    <div class="badge-container absolute left top z-1">
                                                    </div>
                                                    <div class="product-small box has-hover box-normal box-text-bottom">
                                                        <div class="box-image">
                                                            <div class="image-cover" style="padding-top:100%;">
                                                                <a href="https://thegioixehino.com/san-pham/hino-500-fc9jntc-thung-cho-heo-dai-72m-tai-53-tan/">
                                                                    <img width="298" height="270" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20298%20270%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2022/03/z2757770675554_f5f866ce1ad9bfaa99d61d11d8beea04.jpg" class="lazy-load show-on-hover absolute fill hide-for-small back-image" alt="" /><img width="298" height="270" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20298%20270%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2022/03/z2757770675554_f5f866ce1ad9bfaa99d61d11d8beea04.jpg" class="lazy-load attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" />
                                                                </a>
                                                            </div>
                                                            <div class="image-tools top right show-on-hover">
                                                            </div>
                                                            <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                            </div>
                                                        </div>

                                                        <div class="box-text text-center">
                                                            <div class="title-wrapper"><p class="name product-title woocommerce-loop-product__title"><a href="https://thegioixehino.com/san-pham/hino-500-fc9jntc-thung-cho-heo-dai-72m-tai-53-tan/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">HINO 500 FC9JNTC THÙNG CHỞ HEO DÀI 7,2M TẢI 5,3 TẤN</a></p></div><div class="price-wrapper">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col">
                                                <div class="col-inner">

                                                    <div class="badge-container absolute left top z-1">
                                                    </div>
                                                    <div class="product-small box has-hover box-normal box-text-bottom">
                                                        <div class="box-image">
                                                            <div class="image-cover" style="padding-top:100%;">
                                                                <a href="https://thegioixehino.com/san-pham/hino-500-fc9jntc-thung-kin-cho-cau-kien-dien-dai-73m-tai-62-tan/">
                                                                    <img width="700" height="700" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20700%20700%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2022/03/z3248886120334_6f59e923486cd0aff5a694d7567e6852-700x700.jpg" class="lazy-load show-on-hover absolute fill hide-for-small back-image" alt="" srcset="" data-srcset="https://thegioixehino.com/wp-content/uploads/2022/03/z3248886120334_6f59e923486cd0aff5a694d7567e6852-700x700.jpg 700w, https://thegioixehino.com/wp-content/uploads/2022/03/z3248886120334_6f59e923486cd0aff5a694d7567e6852-150x150.jpg 150w, https://thegioixehino.com/wp-content/uploads/2022/03/z3248886120334_6f59e923486cd0aff5a694d7567e6852-100x100.jpg 100w" sizes="(max-width: 700px) 100vw, 700px" /><img width="700" height="700" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20700%20700%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2022/03/z3248886112197_bf5ec70dca49dbcaf6d3d59963a89422-700x700.jpg" class="lazy-load attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="" data-srcset="https://thegioixehino.com/wp-content/uploads/2022/03/z3248886112197_bf5ec70dca49dbcaf6d3d59963a89422-700x700.jpg 700w, https://thegioixehino.com/wp-content/uploads/2022/03/z3248886112197_bf5ec70dca49dbcaf6d3d59963a89422-150x150.jpg 150w, https://thegioixehino.com/wp-content/uploads/2022/03/z3248886112197_bf5ec70dca49dbcaf6d3d59963a89422-100x100.jpg 100w" sizes="(max-width: 700px) 100vw, 700px" />
                                                                </a>
                                                            </div>
                                                            <div class="image-tools top right show-on-hover">
                                                            </div>
                                                            <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                            </div>
                                                        </div>

                                                        <div class="box-text text-center">
                                                            <div class="title-wrapper"><p class="name product-title woocommerce-loop-product__title"><a href="https://thegioixehino.com/san-pham/hino-500-fc9jntc-thung-kin-cho-cau-kien-dien-dai-73m-tai-62-tan/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">HINO 500 FC9JNTC THÙNG KÍN CHỞ CẤU KIỆN ĐIỆN DÀI 7,3M TẢI 6,2 TẤN</a></p></div><div class="price-wrapper">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>


                        <style>
                            #section_2010739724 {
                                padding-top: 20px;
                                padding-bottom: 20px;
                                background-color: rgb(235, 235, 235);
                            }
                        </style>
                    </section>

                    <section class="section danh-muc-section" id="section_596770431">
                        <div class="bg section-bg fill bg-fill  bg-loaded">





                        </div>

                        <div class="section-content relative">

                            <div class="container section-title-container"><h2 class="section-title section-title-normal"><b></b><span class="section-title-main" style="color:rgb(0, 31, 115);"><i class="icon-user"></i>Xe Cẩu Hino</span><b></b><a href="http://thegioixehino.com/xe-cau-hino/" target="">Xem tất cả<i class="icon-angle-right"></i></a></h2></div>
                            <div id="gap-46606382" class="gap-element clearfix" style="display:block; height:auto;">

                                <style>
                                    #gap-46606382 {
                                        padding-top: 10px;
                                    }
                                </style>
                            </div>

                            <div class="row row-small row-ngang" id="row-797572920">

                                <div id="col-756528916" class="col cot12 small-12 large-12">
                                    <div class="col-inner">




                                        <div class="row large-columns-4 medium-columns-3 small-columns-2 row-small">



                                            <div class="col">
                                                <div class="col-inner">

                                                    <div class="badge-container absolute left top z-1">
                                                    </div>
                                                    <div class="product-small box has-hover box-normal box-text-bottom">
                                                        <div class="box-image">
                                                            <div class="image-cover" style="padding-top:100%;">
                                                                <a href="https://thegioixehino.com/san-pham/hino-500-fl8jt7a-3-chan-cau-let-thung-lung-cau-dai-67m-tai-14-tan/">
                                                                    <img width="360" height="269" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20360%20269%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2022/03/2023VAQ09011800-1.jpg" class="lazy-load show-on-hover absolute fill hide-for-small back-image" alt="" srcset="" data-srcset="https://thegioixehino.com/wp-content/uploads/2022/03/2023VAQ09011800-1.jpg 360w, https://thegioixehino.com/wp-content/uploads/2022/03/2023VAQ09011800-1-300x224.jpg 300w" sizes="(max-width: 360px) 100vw, 360px" /><img width="360" height="269" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20360%20269%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2022/03/2023VAQ09011800-1.jpg" class="lazy-load attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="" data-srcset="https://thegioixehino.com/wp-content/uploads/2022/03/2023VAQ09011800-1.jpg 360w, https://thegioixehino.com/wp-content/uploads/2022/03/2023VAQ09011800-1-300x224.jpg 300w" sizes="(max-width: 360px) 100vw, 360px" />
                                                                </a>
                                                            </div>
                                                            <div class="image-tools top right show-on-hover">
                                                            </div>
                                                            <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                            </div>
                                                        </div>

                                                        <div class="box-text text-center">
                                                            <div class="title-wrapper"><p class="name product-title woocommerce-loop-product__title"><a href="https://thegioixehino.com/san-pham/hino-500-fl8jt7a-3-chan-cau-let-thung-lung-cau-dai-67m-tai-14-tan/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">HINO 500 FL8JT7A 3 CHÂN CẦU LẾT THÙNG LỬNG CẨU DÀI 6,7M TẢI 1,4 TẤN</a></p></div><div class="price-wrapper">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col">
                                                <div class="col-inner">

                                                    <div class="badge-container absolute left top z-1">
                                                    </div>
                                                    <div class="product-small box has-hover box-normal box-text-bottom">
                                                        <div class="box-image">
                                                            <div class="image-cover" style="padding-top:100%;">
                                                                <a href="https://thegioixehino.com/san-pham/hino-500-fg8jt7a-thung-lung-cau-unic-555k-dai-8m/">
                                                                    <img width="700" height="700" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20700%20700%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2021/05/z2518184743962_7b00d5a642882eaf486267229c9d3f8b-1-700x700.jpg" class="lazy-load show-on-hover absolute fill hide-for-small back-image" alt="" srcset="" data-srcset="https://thegioixehino.com/wp-content/uploads/2021/05/z2518184743962_7b00d5a642882eaf486267229c9d3f8b-1-700x700.jpg 700w, https://thegioixehino.com/wp-content/uploads/2021/05/z2518184743962_7b00d5a642882eaf486267229c9d3f8b-1-150x150.jpg 150w, https://thegioixehino.com/wp-content/uploads/2021/05/z2518184743962_7b00d5a642882eaf486267229c9d3f8b-1-100x100.jpg 100w" sizes="(max-width: 700px) 100vw, 700px" /><img width="700" height="700" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20700%20700%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2021/05/z2518184743962_7b00d5a642882eaf486267229c9d3f8b-700x700.jpg" class="lazy-load attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="" data-srcset="https://thegioixehino.com/wp-content/uploads/2021/05/z2518184743962_7b00d5a642882eaf486267229c9d3f8b-700x700.jpg 700w, https://thegioixehino.com/wp-content/uploads/2021/05/z2518184743962_7b00d5a642882eaf486267229c9d3f8b-150x150.jpg 150w, https://thegioixehino.com/wp-content/uploads/2021/05/z2518184743962_7b00d5a642882eaf486267229c9d3f8b-100x100.jpg 100w" sizes="(max-width: 700px) 100vw, 700px" />
                                                                </a>
                                                            </div>
                                                            <div class="image-tools top right show-on-hover">
                                                            </div>
                                                            <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                            </div>
                                                        </div>

                                                        <div class="box-text text-center">
                                                            <div class="title-wrapper"><p class="name product-title woocommerce-loop-product__title"><a href="https://thegioixehino.com/san-pham/hino-500-fg8jt7a-thung-lung-cau-unic-555k-dai-8m/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">HINO 500 FG8JT7A THÙNG LỬNG CẨU UNIC 555K DÀI 8M</a></p></div><div class="price-wrapper">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col">
                                                <div class="col-inner">

                                                    <div class="badge-container absolute left top z-1">
                                                    </div>
                                                    <div class="product-small box has-hover box-normal box-text-bottom">
                                                        <div class="box-image">
                                                            <div class="image-cover" style="padding-top:100%;">
                                                                <a href="https://thegioixehino.com/san-pham/fg8jp7a-thung-lung-cau-5-tan-thung-dai-65mm/">
                                                                    <img width="700" height="700" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20700%20700%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2020/11/18c55c80e9db12854bca-700x700.jpg" class="lazy-load show-on-hover absolute fill hide-for-small back-image" alt="" srcset="" data-srcset="https://thegioixehino.com/wp-content/uploads/2020/11/18c55c80e9db12854bca-700x700.jpg 700w, https://thegioixehino.com/wp-content/uploads/2020/11/18c55c80e9db12854bca-300x300.jpg 300w, https://thegioixehino.com/wp-content/uploads/2020/11/18c55c80e9db12854bca-150x150.jpg 150w, https://thegioixehino.com/wp-content/uploads/2020/11/18c55c80e9db12854bca-768x768.jpg 768w, https://thegioixehino.com/wp-content/uploads/2020/11/18c55c80e9db12854bca-100x100.jpg 100w, https://thegioixehino.com/wp-content/uploads/2020/11/18c55c80e9db12854bca.jpg 1024w" sizes="(max-width: 700px) 100vw, 700px" /><img width="700" height="700" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20700%20700%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2020/11/z2159855180723_9281206780be9ab4c60cb099a2ba7fb6-700x700.jpg" class="lazy-load attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="" data-srcset="https://thegioixehino.com/wp-content/uploads/2020/11/z2159855180723_9281206780be9ab4c60cb099a2ba7fb6-700x700.jpg 700w, https://thegioixehino.com/wp-content/uploads/2020/11/z2159855180723_9281206780be9ab4c60cb099a2ba7fb6-150x150.jpg 150w, https://thegioixehino.com/wp-content/uploads/2020/11/z2159855180723_9281206780be9ab4c60cb099a2ba7fb6-100x100.jpg 100w" sizes="(max-width: 700px) 100vw, 700px" />
                                                                </a>
                                                            </div>
                                                            <div class="image-tools top right show-on-hover">
                                                            </div>
                                                            <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                            </div>
                                                        </div>

                                                        <div class="box-text text-center">
                                                            <div class="title-wrapper"><p class="name product-title woocommerce-loop-product__title"><a href="https://thegioixehino.com/san-pham/fg8jp7a-thung-lung-cau-5-tan-thung-dai-65mm/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">FG8JP7A THÙNG LỬNG CẨU 5 TẤN  THÙNG DÀI 6,5MM</a></p></div><div class="price-wrapper">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col">
                                                <div class="col-inner">

                                                    <div class="badge-container absolute left top z-1">
                                                    </div>
                                                    <div class="product-small box has-hover box-normal box-text-bottom">
                                                        <div class="box-image">
                                                            <div class="image-cover" style="padding-top:100%;">
                                                                <a href="https://thegioixehino.com/san-pham/xzu730-thung-lung-cau-unic-345/">
                                                                    <img width="700" height="700" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20700%20700%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2020/03/IMG20190601075955-700x700.jpg" class="lazy-load show-on-hover absolute fill hide-for-small back-image" alt="" srcset="" data-srcset="https://thegioixehino.com/wp-content/uploads/2020/03/IMG20190601075955-700x700.jpg 700w, https://thegioixehino.com/wp-content/uploads/2020/03/IMG20190601075955-150x150.jpg 150w, https://thegioixehino.com/wp-content/uploads/2020/03/IMG20190601075955-100x100.jpg 100w" sizes="(max-width: 700px) 100vw, 700px" /><img width="700" height="700" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20700%20700%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2020/03/IMG20190601075949-700x700.jpg" class="lazy-load attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="" data-srcset="https://thegioixehino.com/wp-content/uploads/2020/03/IMG20190601075949-700x700.jpg 700w, https://thegioixehino.com/wp-content/uploads/2020/03/IMG20190601075949-150x150.jpg 150w, https://thegioixehino.com/wp-content/uploads/2020/03/IMG20190601075949-100x100.jpg 100w" sizes="(max-width: 700px) 100vw, 700px" />
                                                                </a>
                                                            </div>
                                                            <div class="image-tools top right show-on-hover">
                                                            </div>
                                                            <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                            </div>
                                                        </div>

                                                        <div class="box-text text-center">
                                                            <div class="title-wrapper"><p class="name product-title woocommerce-loop-product__title"><a href="https://thegioixehino.com/san-pham/xzu730-thung-lung-cau-unic-345/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">XZU730 Thùng lửng cẩu Unic 345</a></p></div><div class="price-wrapper">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>


                        <style>
                            #section_596770431 {
                                padding-top: 20px;
                                padding-bottom: 20px;
                                background-color: rgb(255, 255, 255);
                            }
                        </style>
                    </section>

                    <section class="section danh-muc-section" id="section_1338022317">
                        <div class="bg section-bg fill bg-fill  bg-loaded">





                        </div>

                        <div class="section-content relative">

                            <div class="container section-title-container"><h2 class="section-title section-title-normal"><b></b><span class="section-title-main" style="color:rgb(0, 64, 199);"><i class="icon-user"></i>Xe Ben Hino</span><b></b><a href="http://thegioixehino.com/xe-ben-hino/" target="">Xem tất cả<i class="icon-angle-right"></i></a></h2></div>
                            <div id="gap-676234117" class="gap-element clearfix" style="display:block; height:auto;">

                                <style>
                                    #gap-676234117 {
                                        padding-top: 10px;
                                    }
                                </style>
                            </div>

                            <div class="row row-small row-ngang" id="row-345866545">

                                <div id="col-1428254309" class="col cot12 small-12 large-12">
                                    <div class="col-inner">




                                        <div class="row large-columns-4 medium-columns-3 small-columns-2 row-small">



                                            <div class="col">
                                                <div class="col-inner">

                                                    <div class="badge-container absolute left top z-1">
                                                    </div>
                                                    <div class="product-small box has-hover box-normal box-text-bottom">
                                                        <div class="box-image">
                                                            <div class="image-cover" style="padding-top:100%;">
                                                                <a href="https://thegioixehino.com/san-pham/hino-500-fc9jetc-thung-ben-inox-cho-ca-dai-46mm-tai-66-tan/">
                                                                    <img width="700" height="700" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20700%20700%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2021/03/z2397153828892_36caf06ca8a3d5c5e0007bdc6d086645-700x700.jpg" class="lazy-load show-on-hover absolute fill hide-for-small back-image" alt="" srcset="" data-srcset="https://thegioixehino.com/wp-content/uploads/2021/03/z2397153828892_36caf06ca8a3d5c5e0007bdc6d086645-700x700.jpg 700w, https://thegioixehino.com/wp-content/uploads/2021/03/z2397153828892_36caf06ca8a3d5c5e0007bdc6d086645-150x150.jpg 150w, https://thegioixehino.com/wp-content/uploads/2021/03/z2397153828892_36caf06ca8a3d5c5e0007bdc6d086645-100x100.jpg 100w" sizes="(max-width: 700px) 100vw, 700px" /><img width="700" height="700" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20700%20700%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2021/03/z2397153796796_6c08ab6e7872fa75ff3edd9d10eaa056-700x700.jpg" class="lazy-load attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="" data-srcset="https://thegioixehino.com/wp-content/uploads/2021/03/z2397153796796_6c08ab6e7872fa75ff3edd9d10eaa056-700x700.jpg 700w, https://thegioixehino.com/wp-content/uploads/2021/03/z2397153796796_6c08ab6e7872fa75ff3edd9d10eaa056-150x150.jpg 150w, https://thegioixehino.com/wp-content/uploads/2021/03/z2397153796796_6c08ab6e7872fa75ff3edd9d10eaa056-100x100.jpg 100w" sizes="(max-width: 700px) 100vw, 700px" />
                                                                </a>
                                                            </div>
                                                            <div class="image-tools top right show-on-hover">
                                                            </div>
                                                            <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                            </div>
                                                        </div>

                                                        <div class="box-text text-center">
                                                            <div class="title-wrapper"><p class="name product-title woocommerce-loop-product__title"><a href="https://thegioixehino.com/san-pham/hino-500-fc9jetc-thung-ben-inox-cho-ca-dai-46mm-tai-66-tan/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">HINO BEN TỰ ĐỔ THÙNG INOX CHỞ CÁ TẢI 6,5 TẤN</a></p></div><div class="price-wrapper">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col">
                                                <div class="col-inner">

                                                    <div class="badge-container absolute left top z-1">
                                                    </div>
                                                    <div class="product-small box has-hover box-normal box-text-bottom">
                                                        <div class="box-image">
                                                            <div class="image-cover" style="padding-top:100%;">
                                                                <a href="https://thegioixehino.com/san-pham/xzu342l-130hd-dutro-ben-tu-do-45-tan/">
                                                                    <img width="700" height="700" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20700%20700%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2019/09/2.-Cabin-rộng-rãi-với-hộp-chứa-đồ-tiện-lợi1-700x700.jpg" class="lazy-load show-on-hover absolute fill hide-for-small back-image" alt="" srcset="" data-srcset="https://thegioixehino.com/wp-content/uploads/2019/09/2.-Cabin-rộng-rãi-với-hộp-chứa-đồ-tiện-lợi1-700x700.jpg 700w, https://thegioixehino.com/wp-content/uploads/2019/09/2.-Cabin-rộng-rãi-với-hộp-chứa-đồ-tiện-lợi1-150x150.jpg 150w, https://thegioixehino.com/wp-content/uploads/2019/09/2.-Cabin-rộng-rãi-với-hộp-chứa-đồ-tiện-lợi1-100x100.jpg 100w" sizes="(max-width: 700px) 100vw, 700px" /><img width="300" height="208" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20300%20208%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2019/09/80a27efd217fc3219a6e.png" class="lazy-load attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" />
                                                                </a>
                                                            </div>
                                                            <div class="image-tools top right show-on-hover">
                                                            </div>
                                                            <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                            </div>
                                                        </div>

                                                        <div class="box-text text-center">
                                                            <div class="title-wrapper"><p class="name product-title woocommerce-loop-product__title"><a href="https://thegioixehino.com/san-pham/xzu342l-130hd-dutro-ben-tu-do-45-tan/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">XZU342L- 130HD DUTRO Ben Tự Đổ 4,5 Tấn</a></p></div><div class="price-wrapper">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col">
                                                <div class="col-inner">

                                                    <div class="badge-container absolute left top z-1">
                                                    </div>
                                                    <div class="product-small box has-hover box-normal box-text-bottom">
                                                        <div class="box-image">
                                                            <div class="image-cover" style="padding-top:100%;">
                                                                <a href="https://thegioixehino.com/san-pham/fm8jn7a-ben-tu-do-11-khoi/">
                                                                    <img width="700" height="323" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20700%20323%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2019/08/6_cfe7f5d8621840028893fc9c9b599fc8_1024x1024-700x323.jpg" class="lazy-load show-on-hover absolute fill hide-for-small back-image" alt="" /><img width="261" height="193" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20261%20193%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2019/08/tải-xuống-1-1.jpg" class="lazy-load attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" />
                                                                </a>
                                                            </div>
                                                            <div class="image-tools top right show-on-hover">
                                                            </div>
                                                            <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                            </div>
                                                        </div>

                                                        <div class="box-text text-center">
                                                            <div class="title-wrapper"><p class="name product-title woocommerce-loop-product__title"><a href="https://thegioixehino.com/san-pham/fm8jn7a-ben-tu-do-11-khoi/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">FM8JN7A-Ben Tự Đổ 11 Khối</a></p></div><div class="price-wrapper">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col">
                                                <div class="col-inner">

                                                    <div class="badge-container absolute left top z-1">
                                                    </div>
                                                    <div class="product-small box has-hover box-normal box-text-bottom">
                                                        <div class="box-image">
                                                            <div class="image-cover" style="padding-top:100%;">
                                                                <a href="https://thegioixehino.com/san-pham/fg8jj7a-ben-tu-do-85-tan/">
                                                                    <img width="700" height="619" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20700%20619%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2019/08/XE_BEN_HINO_FG8JJ7A_6m3_2-700x619.jpg" class="lazy-load show-on-hover absolute fill hide-for-small back-image" alt="" /><img width="300" height="168" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20300%20168%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2019/08/images-13.jpg" class="lazy-load attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" />
                                                                </a>
                                                            </div>
                                                            <div class="image-tools top right show-on-hover">
                                                            </div>
                                                            <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                            </div>
                                                        </div>

                                                        <div class="box-text text-center">
                                                            <div class="title-wrapper"><p class="name product-title woocommerce-loop-product__title"><a href="https://thegioixehino.com/san-pham/fg8jj7a-ben-tu-do-85-tan/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">FG8JJ7A Ben tự độ 7 khối</a></p></div><div class="price-wrapper">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>


                        <style>
                            #section_1338022317 {
                                padding-top: 20px;
                                padding-bottom: 20px;
                                background-color: rgb(235, 235, 235);
                            }
                        </style>
                    </section>

                    <section class="section danh-muc-section" id="section_1981562512">
                        <div class="bg section-bg fill bg-fill  bg-loaded">





                        </div>

                        <div class="section-content relative">

                            <div class="container section-title-container"><h2 class="section-title section-title-normal"><b></b><span class="section-title-main" style="color:rgb(0, 64, 199);"><i class="icon-user"></i>Xe Đầu Kéo Hino</span><b></b><a href="http://thegioixehino.com/xe-dau-keo-hino/" target="">Xem tất cả<i class="icon-angle-right"></i></a></h2></div>
                            <div id="gap-535485861" class="gap-element clearfix" style="display:block; height:auto;">

                                <style>
                                    #gap-535485861 {
                                        padding-top: 10px;
                                    }
                                </style>
                            </div>

                            <div class="row row-small row-ngang" id="row-1432024799">

                                <div id="col-409539258" class="col cot12 small-12 large-12">
                                    <div class="col-inner">




                                        <div class="row large-columns-4 medium-columns-3 small-columns-2 row-small">



                                            <div class="col">
                                                <div class="col-inner">

                                                    <div class="badge-container absolute left top z-1">
                                                    </div>
                                                    <div class="product-small box has-hover box-normal box-text-bottom">
                                                        <div class="box-image">
                                                            <div class="image-cover" style="padding-top:100%;">
                                                                <a href="https://thegioixehino.com/san-pham/dau-keo-hino-ss2pksa-euro5/">
                                                                    <img width="700" height="700" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20700%20700%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2019/09/cc323a0332c1d59f8cd0-700x700.jpg" class="lazy-load show-on-hover absolute fill hide-for-small back-image" alt="" srcset="" data-srcset="https://thegioixehino.com/wp-content/uploads/2019/09/cc323a0332c1d59f8cd0-700x700.jpg 700w, https://thegioixehino.com/wp-content/uploads/2019/09/cc323a0332c1d59f8cd0-150x150.jpg 150w, https://thegioixehino.com/wp-content/uploads/2019/09/cc323a0332c1d59f8cd0-100x100.jpg 100w" sizes="(max-width: 700px) 100vw, 700px" /><img width="700" height="668" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20700%20668%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2019/09/1acacfb0b172562c0f63-700x668.jpg" class="lazy-load attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" />
                                                                </a>
                                                            </div>
                                                            <div class="image-tools top right show-on-hover">
                                                            </div>
                                                            <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                            </div>
                                                        </div>

                                                        <div class="box-text text-center">
                                                            <div class="title-wrapper"><p class="name product-title woocommerce-loop-product__title"><a href="https://thegioixehino.com/san-pham/dau-keo-hino-ss2pksa-euro5/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">Đầu Kéo Hino SS2PKSA-Euro5</a></p></div><div class="price-wrapper">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col">
                                                <div class="col-inner">

                                                    <div class="badge-container absolute left top z-1">
                                                    </div>
                                                    <div class="product-small box has-hover box-normal box-text-bottom">
                                                        <div class="box-image">
                                                            <div class="image-cover" style="padding-top:100%;">
                                                                <a href="https://thegioixehino.com/san-pham/romooc-san-doosung-9m-3-truc/">
                                                                    <img width="254" height="199" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20254%20199%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2019/09/tải-xuống-33.jpg" class="lazy-load attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" />
                                                                </a>
                                                            </div>
                                                            <div class="image-tools top right show-on-hover">
                                                            </div>
                                                            <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                            </div>
                                                        </div>

                                                        <div class="box-text text-center">
                                                            <div class="title-wrapper"><p class="name product-title woocommerce-loop-product__title"><a href="https://thegioixehino.com/san-pham/romooc-san-doosung-9m-3-truc/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">ROMOOC SÀN DOOSUNG 9M 3 TRỤC</a></p></div><div class="price-wrapper">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col">
                                                <div class="col-inner">

                                                    <div class="badge-container absolute left top z-1">
                                                    </div>
                                                    <div class="product-small box has-hover box-normal box-text-bottom">
                                                        <div class="box-image">
                                                            <div class="image-cover" style="padding-top:100%;">
                                                                <a href="https://thegioixehino.com/san-pham/https-xetaihinobaria-com-xe-dau-keo-hino-5/">
                                                                    <img width="257" height="196" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20257%20196%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2019/09/images-4.jpg" class="lazy-load show-on-hover absolute fill hide-for-small back-image" alt="" /><img width="262" height="192" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20262%20192%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2019/09/images.jpg" class="lazy-load attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" />
                                                                </a>
                                                            </div>
                                                            <div class="image-tools top right show-on-hover">
                                                            </div>
                                                            <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                            </div>
                                                        </div>

                                                        <div class="box-text text-center">
                                                            <div class="title-wrapper"><p class="name product-title woocommerce-loop-product__title"><a href="https://thegioixehino.com/san-pham/https-xetaihinobaria-com-xe-dau-keo-hino-5/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">SƠ MI RƠ MÓC THÙNG LỒNG 3 TRỤC</a></p></div><div class="price-wrapper">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col">
                                                <div class="col-inner">

                                                    <div class="badge-container absolute left top z-1">
                                                    </div>
                                                    <div class="product-small box has-hover box-normal box-text-bottom">
                                                        <div class="box-image">
                                                            <div class="image-cover" style="padding-top:100%;">
                                                                <a href="https://thegioixehino.com/san-pham/so-mi-ro-mooc-xitec-cho-xang-dau-40-khoi-hieu-doosung-3-truc/">
                                                                    <img width="330" height="153" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20330%20153%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2019/09/tải-xuống-2-1.jpg" class="lazy-load show-on-hover absolute fill hide-for-small back-image" alt="" srcset="" data-srcset="https://thegioixehino.com/wp-content/uploads/2019/09/tải-xuống-2-1.jpg 330w, https://thegioixehino.com/wp-content/uploads/2019/09/tải-xuống-2-1-300x139.jpg 300w" sizes="(max-width: 330px) 100vw, 330px" /><img width="260" height="194" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20260%20194%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://thegioixehino.com/wp-content/uploads/2019/09/tải-xuống-1-1.jpg" class="lazy-load attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" />
                                                                </a>
                                                            </div>
                                                            <div class="image-tools top right show-on-hover">
                                                            </div>
                                                            <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                            </div>
                                                        </div>

                                                        <div class="box-text text-center">
                                                            <div class="title-wrapper"><p class="name product-title woocommerce-loop-product__title"><a href="https://thegioixehino.com/san-pham/so-mi-ro-mooc-xitec-cho-xang-dau-40-khoi-hieu-doosung-3-truc/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">SƠ MI RƠ MOÓC XITEC CHỞ XĂNG DẦU 40 KHỐI HIỆU DOOSUNG 3 trục</a></p></div><div class="price-wrapper">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>


                        <style>
                            #section_1981562512 {
                                padding-top: 20px;
                                padding-bottom: 20px;
                                background-color: rgb(235, 235, 235);
                            }
                        </style>
                    </section>



                </div>
            </div>
        </div>
    </div>


</main>