@{
    ViewBag.Title = "Trang Chủ";
}

<main id="main" class="">
    <div id="content" class="content-area page-wrapper" role="main">
        <div class="row row-main">
            <div class="large-12 col">
                <div class="col-inner">
                    <div class="row tim-kiem-mobile" id="row-1678844450">
                        <div id="col-781871185" class="col small-12 large-12">
                            <div class="col-inner">
                                <div class="searchform-wrapper ux-search-box relative is-normal">
                                    <form role="search" method="get" class="searchform" action="https://thegioixehino.com/">
                                        <div class="flex-row relative">
                                            <div class="flex-col search-form-categories">
                                                <select class="search_categories resize-select mb-0" name="product_cat"><option value="" selected='selected'>All</option><option value="xe-ben-hino">Xe Ben Hino</option><option value="xe-cau-hino">Xe Cẩu Hino</option><option value="xe-chuyen-dung-hino">Xe Chuyên Dụng Hino</option><option value="xe-dau-keo-hino">Xe Đầu Kéo Hino</option><option value="xe-tai-hino">Xe Tải Hino</option></select>
                                            </div>
                                            <div class="flex-col flex-grow">
                                                <label class="screen-reader-text" for="woocommerce-product-search-field-1">Tìm kiếm:</label>
                                                <input type="search" id="woocommerce-product-search-field-1" class="search-field mb-0" placeholder="Nhập xe bạn cần tìm..." value="" name="s" />
                                                <input type="hidden" name="post_type" value="product" />
                                            </div>
                                            <div class="flex-col">
                                                <button type="submit" value="Tìm kiếm" class="ux-search-submit submit-button secondary button icon mb-0" aria-label="Submit">

                                                    <img src="~/Images/icons8-search-24.png" />
                                                </button>
                                            </div>
                                        </div>
                                        <div class="live-search-results text-left z-top"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <style>
                            #row-1678844450 > .col > .col-inner {
                                background-color: rgb(3, 128, 24);
                            }
                        </style>
                    </div>
                    <section class="section slider-section" id="section_1538508470">
                        <div class="bg section-bg fill bg-fill  bg-loaded">
                        </div>
                        <div class="section-content relative">
                            <div class="row row-small" id="row-811625828">
                                <div id="col-446760618" class="col cot2 small-12 large-12">
                                    <div class="col-inner">
                                        <div class="wbcslider_tgdd slider-wrapper relative " id="wbcslider-291567074" style="background-color:#fff;">
                                            <div class="wbcslider-main slider slider-nav-dots-simple slider-nav-simple slider-nav-normal slider-nav-light slider-style-normal"
                                                 data-flickity-options='{"cellAlign": "center","imagesLoaded": true,"lazyLoad": 1,"freeScroll": false,"wrapAround": true,"autoPlay": 3000,
                                                 "pauseAutoPlayOnHover" : true,"prevNextButtons": true,"contain" : true,"adaptiveHeight" : true,"dragThreshold" : 5,"percentPosition": true,
                                                 "pageDots": false,"rightToLeft": false,"draggable": true,"selectedAttraction": 0.1,"parallax" : 0,"friction": 0.6 }' >
                                            </div>
                                            <div class="swiper mySwiper">
                                                <div class="swiper-wrapper"id="banner">
 
                                                </div>
                                                <div class="swiper-button-next"></div>
                                                <div class="swiper-button-prev"></div>
                                            </div>

                                            <div class="carousel carousel-nav TextCaptions" data-flickity='{ "asNavFor": ".wbcslider-main ", "contain": true, "pageDots": false }'></div>
                                        </div>
                                        <style media="screen">
                                            .TextCaptions .flickity-slider {
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                            }

                                            .TextCaptions {
                                                padding: 20px;
                                            }

                                                .TextCaptions .item {
                                                    margin: 0 !important;
                                                    padding: 0 !important;
                                                    height: 45px;
                                                    justify-content: center;
                                                    align-items: center;
                                                    display: flex;
                                                    text-align: center;
                                                    border-right: 1px solid #333;
                                                    color: #333;
                                                }
                                        </style>
                                        <!-- .ux-slider-wrapper -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <style>
                            #section_1538508470 {
                                padding-top: 10px;
                                padding-bottom: 10px;
                                background-color: rgb(235, 235, 235);
                            }
                        </style>
                    </section>
                    <div class="row row-small danh-muc-san-pham-mobile" id="catemobile">

                    </div>
                    <div id="producthome">

                    </div>

                </div>
            </div>
        </div>
    </div>

</main>
@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script>
        Banner()
        CateProduct();
        CateProductHome()
        function Banner() {
            $.ajax({
                url: '/banners/banner',
                type: 'get',
                success: function (data) {
                    $('#banner').empty();
                    if (data.code == 200) {
                        $.each(data.a, function (k, v) {
                            let a = '<div class="swiper-slide" >'
                            a += '<img src="' + v.image + '" />'
                            a += '</div>'
                            $('#banner').append(a)
                        })

                    }
                }
            })
        }
        var swiper = new Swiper(".mySwiper", {
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
        function CateProduct() {
            $.ajax({
                url: '/cateproducts/CateProduct',
                type: 'get',
                success: function (data) {
                    $('#catemobile').empty();
                    if (data.code == 200) {
                        let a = '<div  class="col show-for-small medium-6 small-12 large-6">'
                        a += '<div class="col-inner">'
                        a += ' <p><a href="/">Trang chủ</a></p>'
                        a += '</div>'
                        a += '</div>'
                        $.each(data.a, function (k, v) {
                            a += '<div  class="col show-for-small medium-6 small-12 large-6">'
                            a += '<div class="col-inner">'
                            a += ' <p><a href="/danh-muc/' + v.meta + '/' + v.id +'">' + v.name + '</a></p>'
                            a += '</div>'
                            a += '</div>'

                        })
                        $('#catemobile').append(a)

                    }
                }
            })
        }
        function CateProductHome() {
            $.ajax({
                url: '/cateproducts/CateProduct',
                type: 'get',
                success: function (data) {
                    $('#producthome').empty();
                    if (data.code == 200) {
                        $.each(data.a, function (k, v) {
                            let a = '<div id="' + v.meta + '" class="container section-title-container">'
                            a += '<h2 class="section-title section-title-normal">'
                            a += '<span class="section-title-main" style="color:rgb(0, 115, 14);">'
                            a += '<img src="/Images/icons8-sedan-19.png" /> ' + v.name + ''
                            a += '</span>'
                            a += '<a href="/danh-muc/' + v.meta + '/' + v.id + '" >Xem tất cả <img src="/Images/icons8-next-page-13.png" /></a>'
                            a += '</h2>'
                            a += '</div>'
                            a += '<section class="section danh-muc-section" id = "product' + v.id + '" >'
                            a += '</section>'
                            $('#producthome').append(a)
                            ProductHome(v.id)
                        })
                    }
                }
            })
        }
        function ProductHome(id) {
            $.ajax({
                url: '/products/Product',
                type: 'get',
                data: {
                    id
                },
                success: function (data) {
                    $('#product' + id + '').empty();
                    if (data.code == 200) {
                        let a = '<div class="bg section-bg fill bg-fill  bg-loaded">'
                        a += '</div>'
                        a += ' <div class="section-content relative">'
                        a += '<div  class="gap-element clearfix" style="display:block; height:auto;">'
                        a += '</div>'
                        a += '<div class="row row-small row-ngang" >'
                        a += '<div  class="col cot12 small-12 large-12">'
                        a += ' <div class="col-inner">'
                        a += '<div class="row large-columns-4 medium-columns-3 small-columns-2 row-small">'
                        $.each(data.a, function (k, v) {
                            a += '<div class="col">'
                            a += '<div class="col-inner">'
                            a += '<div class="badge-container absolute left top z-1">'
                            a += ' </div>'
                            a += '<div class="product-small box has-hover box-normal box-text-bottom">'
                            a += '<div class="box-image">'
                            a += '<div class="image-cover" style="padding-top:100%;">'
                            a += '<a href="/san-pham/' + v.meta + '/' + v.id + '">'
                            a += '<img src="' + v.image + '" />'
                            a += '</a>'
                            a += '</div>'
                            a += '<div class="image-tools top right show-on-hover">'
                            a += '</div>'
                            a += '<div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">'
                            a += '</div>'
                            a += '</div>'
                            a += '<div class="box-text text-center is-large">'
                            a += '<div class="title-wrapper"><p class="name product-title woocommerce-loop-product__title"><a href="/san-pham/' + v.meta + '/' + v.id + '" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">' + v.name + '</a></p></div><div class="price-wrapper">'
                            a += ' </div>'
                            a += '</div>'
                            a += '</div>'
                            a += '</div>'
                            a += '</div>'
                        })
                        a += '</div>'
                        a += '</div>'
                        a += '</div>'
                        a += '</div>'
                        a += '</div>'
                        $('#product' + id + '').append(a)
                    }
                }
            })
        }
    </script>
}