@model hinothuduc.Models.Product
@{
    ViewBag.Title = "Image";
    Layout = "~/Areas/Hino/Views/Shared/_Layout.cshtml";
}

<input hidden value="@Model.Id" id="id" />
<div class="card card-custom" id="a">
    <div class="card-header flex-wrap py-5">
        <div class="card-title">
            <h3 class="card-label">
                Danh Sách Hình Ảnh Của @Model.Name
            </h3>
        </div>
        <div class="card-toolbar">
                <label for="example-password-input" class="col-2 col-form-label">Hình Ảnh <span style="color:red"> (*) </span></label>
                <div class="col-10">
                    <input type="text" hidden name="picture" id="picturefile" class="form-control" />
                    <input type="file" id="fileUpload" name="fileUpload" accept="image/*" style="display:none" />
                    <input type="button" id="btnUpload" value="..." class="btn-bg-success" />
                    <img style="width:100px" id="picture" />
                </div>
            <a onclick="Add()" class="btn btn-primary font-weight-bolder">
                <span class="svg-icon svg-icon-md">
                    <span class="svg-icon svg-icon-primary svg-icon-2x">
                        <i class="icon-xl fas fa-user-plus"></i>
                    </span>
                    <!--end::Svg Icon-->
                </span>Thêm Sản Phẩm
            </a>
            <!--end::Button-->
        </div>
    </div>
    <div class="card-body">
        <!--begin: Datatable-->
        <div id="kt_datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="kt_datatable_length">
                        <label>
                            Show <select id="pagenum" name="kt_datatable_length" aria-controls="kt_datatable" class="custom-select custom-select-sm form-control form-control-sm">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            entries
                        </label>
                    </div>
                </div><div class="col-sm-12 col-md-6">
                    <div id="kt_datatable_filter" class="dataTables_filter">
                        <label>Search:<input id="seach" type="search" class="form-control form-control-sm" placeholder="" aria-controls="kt_datatable"></label>
                    </div>
                </div>
            </div>
            <div class="row" id="table">
                <div class="col-sm-12">
                    <table class="table table-separate table-head-custom table-checkable dataTable no-footer dtr-inline" id="kt_datatable" role="grid" aria-describedby="kt_datatable_info" style="width: 1234px;">
                        <thead>
                            <tr role="row">
                                <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 190px;" aria-label="Company Email: activate to sort column ascending">Stt</th>
                                <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 190px;" aria-label="Company Email: activate to sort column ascending">Hình Ảnh</th>
                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 105px;" aria-label="Actions">Actions</th>
                            </tr>
                        </thead>
                        <tbody id="tbd">
                        </tbody>
                    </table>
                </div>
            </div><div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="kt_datatable_info" role="status" aria-live="polite"></div>
                </div>
                <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="kt_datatable_paginate">
                        <ul class="pagination" id="page">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--end: Datatable-->
    </div>
</div>
@section scripts{

    <script src="~/Areas/Scripts/AddImage.js"></script>

}

