
@{
    ViewBag.Title = "Thêm Banner";
    Layout = "~/Areas/Hino/Views/Shared/_Layout.cshtml";
}

<div class="card card-custom">
    <div class="card-header">
        <h3 class="card-title">
            Thêm Banner
        </h3>
    </div>
    <!--begin::Form-->
    <div class="card-body">
        <div class="form-group mb-8">
            <div class="alert alert-custom alert-default" role="alert">
                <div class="alert-icon"><i class="flaticon-warning text-primary"></i></div>
                <div class="alert-text">
                    Vui Lòng Nhập Đúng Tất Cả Dữ Liệu Để Đảm Bảo Hệ Thống
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-password-input" class="col-2 col-form-label">Tên banner <span style="color:red"> (*) </span></label>
            <div class="col-10">
                <div class="input-group ">
                    <input class="form-control" type="text" placeholder="Tên banner " id="name" />
                </div>
            </div>
        </div>
        <div class="form-inline">
            <label>Hình Ảnh<span style="color:red">(*)</span></label>
            <input type="text" hidden name="picture" id="picturefile" class="form-control" />
            <input type="file" id="fileUpload" name="fileUpload" accept="image/*" style="display:none" />
            <input type="button" id="btnUpload" value="..." class="btn-bg-success" />
            <img style="width:100px" id="picture" />
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-10">
                <button type="submit" class="btn btn-success mr-2" onclick="Add()">Submit</button>
                <a href="/Hino/Banner/Index" type="reset" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script src="~/Areas/Scripts/Banner.js"></script>
}

