
@{
    ViewBag.Title = "Liên Hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main" class="">
    <div id="content" class="content-area page-wrapper" role="main">
        <div class="row row-main">
            <div class="large-12 col">
                <div class="col-inner">
                    <div id="gap-827638880" class="gap-element clearfix" style="display:block; height:auto;">
                        <style>
                            #gap-827638880 {
                                padding-top: 60px;
                            }
                        </style>
                    </div>
                    <p style="text-align: center;"><strong>Thông tin liên hệ các dịch vụ xe tải Hino, xe chuyên dụng Hino, xe cẩu Hino, xe ben Hino, xe đầu kéo Hino vui lòng liên hệ :</strong></p>
                    <div id="gap-1713572153" class="gap-element clearfix" style="display:block; height:auto;">
                        <style>
                            #gap-1713572153 {
                                padding-top: 50px;
                            }
                        </style>
                    </div>
                    <div class="row" id="row-817321997">
                        <div id="col-262856324" class="col medium-6 small-12 large-6">
                            <div class="col-inner">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <h3 style="text-align: center;"><span style="color: #0000ff;"><strong>CÔNG TY HINO THỦ ĐỨC</strong></span></h3>
                                    </div>
                                </div>
                                <div class="vc_empty_space"> </div>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <table width="382">
                                            <tbody>
                                                <tr>
                                                    <td width="112">Địa chỉ :</td>
                                                    <td width="270">
                                                        Công Ty TNHH Ô tô Hưng Nam
                                                        80 Quốc Lộ 1A, Phường Hiệp Bình Phước , TP Thủ Đứctd>
</tr>
                                                <tr>
                                                    <td width="112">HotLine :</td>
                                                    <td><a href="tel:0933685439"><strong>0932.678.503</strong></a></td>
                                                </tr>
                                                <tr>
                                                    <td width="112">Điện thoại :</td>
                                                    <td><a href="tel:0933685439"><strong>0932.678.503</strong></a></td>
                                                </tr>
                                                <tr>
                                                    <td width="112">Email :</td>
                                                    <td>trungcuong92hino@gmail.com</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <h3 class="name"><span style="color: #ff0000;">CÔNG TY TNHH THỦ ĐỨC HI-NÔ</span></h3>
                                <ul class="listInfo">
                                    <li>
                                        <strong>Địa chỉ : </strong>Công Ty TNHH Ô tô Hưng Nam
                                        80 Quốc Lộ 1A, Phường Hiệp Bình Phước , TP Thủ Đức
                                    </li>
                                </ul>
                                <p> </p>
                                <p> </p>
                            </div>
                        </div>
                        <div id="col-835980621" class="col medium-6 small-12 large-6">
                            <div class="col-inner">
                                <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.3051438673133!2d106.72087561518073!3d10.864379692261855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529d62413d24f%3A0xe6d4bdfa6aafaf1f!2zQ8O0bmcgVHkgVE5ISCDDlCBUw7QgSMawbmcgTmFt!5e0!3m2!1svi!2s!4v1664520316361!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
                            </div>
                        </div>


                    </div>


                </div>
            </div>
        </div>
    </div>


</main>